.Brand { }

.BrandItem {
	padding: .75em 1em .5em;
}

.BrandItemInner {
	background-color: #ffffff;
	padding: 1em;
	width: 100%;
}

.BrandItem:hover .BrandItem-img {
	-webkit-transform: scale(1.36);
	-moz-transform: scale(1.36);
	-ms-transform: scale(1.36);
	-o-transform: scale(1.36);
	transform: scale(1.36);
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-ms-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}

.BrandItem-img {
	display: block;
	background-image: url("../img/Regua_V_3_1.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 56px;
	margin: 0 auto;
}

.BrandItem--audiovisual .BrandItem-img {
	background-position: -51px;
	width: 160px;
}

.BrandItem--besni .BrandItem-img {
	background-position: -260px;
	width: 143px;
}

.BrandItem--pura-essencia .BrandItem-img {
	background-position: -452px;
	width: 87px;
}

.BrandItem--lady-rock .BrandItem-img {
	background-position: -587px;
	width: 201px;
}

.BrandItem--egoiste .BrandItem-img {
	background-position: -838px;
	width: 161px;
}

.BrandItem--she-likes .BrandItem-img {
	background-position: -1048px;
	width: 62px;
}

.BrandItem--mamo .BrandItem-img {
	background-position: -1159px;
	width: 115px;
}

.BrandItem--cheroy .BrandItem-img {
	background-position: -1323px;
	width: 161px;
}

.BrandItem--yoyo .BrandItem-img {
	background-position: -1534px;
	width: 48px;
}

.BrandItem--nuxx .BrandItem-img {
	background-position: -1630px;
	width: 187px;
}

.BrandItem--madah .BrandItem-img {
	background-position: -1865px;
	width: 163px;
}

.BrandItem--esoterica .BrandItem-img {
	background-position: -2075px;
	width: 163px;
}