.Brand { }

.BrandItem {
	padding: .75em 1em .5em;
}

.BrandItemInner {
	background-color: #ffffff;
	padding: 1em;
	width: 100%;
}

.BrandItem-img {
	background-image: url("../img/regua-new-v10.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	height: 56px;
	margin: 0 auto;
	-webkit-transition: transform .4s ease-out;
	-moz-transition: transform .4s ease-out;
	-ms-transition: transform .4s ease-out;
	-o-transition: transform .4s ease-out;
	transition: transform .4s ease-out;
}

.BrandItem:hover .BrandItem-img {
	-webkit-transform: scale(1.36);
	-moz-transform: scale(1.36);
	-ms-transform: scale(1.36);
	-o-transform: scale(1.36);
	transform: scale(1.36);
}

.BrandItem--levis .BrandItem-img {
	background-position: -26px;
	width: 72px;
}

.BrandItem--khelf .BrandItem-img {
	background-position: -166px;
	width: 166px;
}

.BrandItem--murau .BrandItem-img {
	background-position: -398px;
	width: 128px;
}

.BrandItem--lily .BrandItem-img {
	background-position: -602px;
	width: 109px;
}

.BrandItem--banana-lima .BrandItem-img {
	background-position: -787px;
	width: 102px;
}

.BrandItem--luleg .BrandItem-img {
	background-position: -965px;
	width: 89px;
}

.BrandItem--raizz .BrandItem-img {
	background-position: -1138px;
	width: 166px;
}

.BrandItem--garnus .BrandItem-img {
	background-position: -1377px;
	width: 81px;
}

.BrandItem--miss-chilli .BrandItem-img {
	background-position: -1507px;
	width: 169px;
}

.BrandItem--richini .BrandItem-img {
	background-position: -1713px;
	width: 143px;
}

.BrandItem--passos-de-tigre .BrandItem-img {
	background-position: -1928px;
	width: 146px;
}

.BrandItem--luxo .BrandItem-img {
	background-position: -2153px;
	width: 125px;
}

.BrandItem--duplo-sentido .BrandItem-img {
	background-position: -2363px;
	width: 166px;
}

.BrandItem--monda .BrandItem-img {
	background-position: -2596px;
	width: 101px;
}

.BrandItem--gioconda-portto .BrandItem-img {
	background-position: -2764px;
	width: 182px;
}
