.Brand { }

.BrandItem {
	padding: .75em 1em .5em;
}

.BrandItemInner {
	background-color: #ffffff;
	padding: 1em;
	width: 100%;
}

.BrandItem-img {
	background-image: url("../img/regua-new-v4.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	height: 56px;
	margin: 0 auto;
	-webkit-transition: transform .4s ease-out;
	-moz-transition: transform .4s ease-out;
	-ms-transition: transform .4s ease-out;
	-o-transition: transform .4s ease-out;
	transition: transform .4s ease-out;
}

.BrandItem:hover .BrandItem-img {
	-webkit-transform: scale(1.36);
	-moz-transform: scale(1.36);
	-ms-transform: scale(1.36);
	-o-transform: scale(1.36);
	transform: scale(1.36);
}

.BrandItem--richini .BrandItem-img {
	background-position: -22px;
	width: 144px;
}

.BrandItem--passos-de-tigre .BrandItem-img {
	background-position: -237px;
	width: 145px;
}

.BrandItem--luxo .BrandItem-img {
	background-position: -462px;
	width: 125px;
}

.BrandItem--duplo-sentido .BrandItem-img {
	background-position: -641px;
	width: 198px;
}

.BrandItem--monda .BrandItem-img {
	background-position: -904px;
	width: 103px;
}

.BrandItem--gioconda-portto .BrandItem-img {
	background-position: -1072px;
	width: 198px;
}